*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.loading-bar
{
    position: absolute;
    top: 80%;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.5s;
    will-change: transform;
}

.loading-bar.ended
{
    transform-origin: top right;
    transition: transform 1.5s ease-in-out;
}

.loader {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    opacity: 1;
    animation: spin 2s linear infinite;
  }

  .infos{
    position: absolute;
    top: 10%;
    left: 41%;
    transform: translateX(-50%);
    background-color: aliceblue;
    width: 40%;
    height: 60%;
    text-align: center;
  }

  .fadeOut {
    transition: opacity 1.5s; 
    opacity: 0;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .point
  {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .point .label
  {
    position: absolute;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #00000077;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 40px;
    font-weight: 100;
    font-size: 14px;
    cursor: help;
    transform: scale(0, 0);
    transition: transform 0.3s;
  }
  
  .point.visible .label
  {
      transform: scale(1, 1);
  }

  .point .text
  {
    position: absolute;
    top: 30px;
    left: -120px;
    width: 200px;
    padding: 20px;
    border-radius: 4px;
    background: #00000077;
    border: 1px solid #ffffff77;
    color: #ffffff;
    line-height: 1.3em;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
  }

  .point:hover .text
{
    opacity: 1;
}

.img-element {
  height: 100%;
}

#video-element {
  position: absolute;
  width: 600px;
  left: 80%;
  top: 40%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 250ms ease-in;
}
#video-element.show{
  opacity: 1;
}

#video-film{
}

#video-text-div{
  background-color: #ffffffaa;
  margin-top: 30px;
  border-radius: 50px;
  padding: 20px;
  text-align: center;
}
#video-text{
  margin-top: 10px;
  font-size: 20px;
  text-align: justify;
}

#video-date{
  margin-top: 10px;
  font-size: 30px;
}

#video-title{
  font-size: 30px;
}